body{
  background-image:linear-gradient(to bottom,rgba(0,0,0,0.8) ,rgba(84, 84, 84, 0.9)),url('../../images/wp3916518.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
     max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    overflow-y: scroll;
  
}


   .title {
       font-family: sans-serif;;
        font-size: 50px;
       text-align: center;
    transition :transform 0.6s;
    border-radius: 15px;
       text-shadow:5px 10px 20px rgba(0,0,0,0.8);
      
       padding:50px;
    color:white; 
       margin left: 20%;
}


.mytop10anime {
    margin-left: 10%;
        margin-right: 10%;
}
.animebod{
    padding-bottom:100px;
}
.deathnote{
    background-image: url('../../images/death_note_by_zzyzzyy-d8bsgvr.jpg');
    background-size: cover;
    background-position:50% 30%;
 
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    height:30vh;
    box-shadow: 15px 10px 20px rgba(0,0,0,0.8);
    transition:transform 0.5s;
   

}
.deathnote_logo{
   margin-top: 25vh;
    
  height:7vh;
    
}
.deathnote:hover{
    transform: scale(1.1);
}

.naruto {
   background-image:url('../../images/naruto-and-sasuke-nawpic-6.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    height: 30vh;
    box-shadow: 15px 10px 20px rgba(0,0,0,0.8);
    transition:transform 0.5s;
    margin-top: 15vh;
   
}

.naruto:hover{
    transform: scale(1.1);
}
.naruto_logo {
    height: 10vh;
    margin-top: 25vh;
}

.aot {
    background-image:url(../../images/388557.webp);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    height: 30vh;
    box-shadow: 15px 10px 20px rgba(0,0,0,0.8);
    transition:transform 0.5s;
    margin-top: 15vh;
}
.aot:hover{
     transform: scale(1.1);
}
.aot_logo {
    margin-top: 25vh;
    height: 11vh;
}

.tokyoghoul {
     background-image:url('../../images/61f92acef2e28.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    height: 30vh;
    box-shadow: 15px 10px 20px rgba(0,0,0,0.8);
    transition:transform 0.5s;
    margin-top: 15vh;
}
.tokyoghoul:hover{
    transform: scale(1.1);
}
.tokyoghoul_logo{
     margin-top: 25vh;
    height: 12vh;
}
.dragonball{
     background-image:url(../../images/wp2328950.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    height: 30vh;
    box-shadow: 15px 10px 20px rgba(0,0,0,0.8);
    transition:transform 0.5s;
    margin-top: 15vh;
}
.dragonball:hover{
     transform: scale(1.1);
}
.dragonball_logo{
     margin-top: 25vh;
    height: 12vh;
}
.animetitle{
    margin-top: 32vh;
}

footer{
    display: flex; /* Use flexbox for layout */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    
    
}
.socials{
    float: left;
    color: white;
    font-size: 50px;
    margin-top: 10vh;
    text-align: center;
    max-height: 100%;
    padding: 0vh 0vh;
    margin: 10vh 6vw;
}

.social_icons {
    text-align: left;
    text-decoration: none;
     color: white;
    font-size: 25px;
    padding: 0vh 8vw
    
}

@media screen and (max-width:750px){
    .back{
        height: 10vh;
    }
    .animetitle{
        margin-top: 20vh;
    }
    .social_icons{
        font-size: 15px;
        padding:0 5vw;
    }
}
